body {/*배경*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.screen {/*핸드폰 위쪽 화면*/
    width: 40vh; 
    height: 60vh;
    background-color: #eee;
    border: 1px solid #000;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}
.screen2 {/*핸드폰 아래쪽 화면*/
    width: 40vh; 
    height: 10vh;
    background-color: #ccc;
    border: 1px solid #000;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}

.button {/*버튼 */
    width: 80px; 
    height: 80px; 
    margin: 10px;
    font-size: 18px;
    background-color: #eee;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}