body {/*배경*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.screen {/*핸드폰 위쪽 화면*/
    width: 40vh; 
    height: 60vh;
    background-color: #eee;
    border: 1px solid #000;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}
.screen2 {/*핸드폰 아래쪽 화면*/
    width: 40vh; 
    height: 10vh;
    background-color: #ccc;
    border: 1px solid #000;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}
.button {/*버튼 */
    width: 80px; 
    height: 80px; 
    margin: 10px;
    font-size: 18px;
    background-color: #eee;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}
.search {/*검색 프로그램 버튼*/
    width: 80px; 
    height: 80px; 
    margin: 10px;
    font-size: 18px;
    background-color: #eee;
    color: black;
    bottom: 650px;
    right: 240px;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}
.trash {/*휴지통 버튼*/
    width: 80px; 
    height: 80px; 
    margin: 10px;
    font-size: 18px;
    background-color: #eee;
    color: black;
    bottom: 530px;
    right: 858px;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}
.screen3 {/*데스크탑 메인 화면*/
    width: 130vh; 
    height: 80vh;
    background-color: #ccc;
    border: 1px solid #000;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}
.screen4 {/*데스크탑 작업표시줄*/
    width: 130vh; 
    height: 70px;
    background-color: #0f0f0f;
    border: 1px solid #000;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08) inset;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}

.search_scr {/*데스크탑 검색창*/
    width: 700px;
    height: 654px;
    background: rgba(17, 17, 17, 0.81);
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    bottom: 80px;
    right: 264px;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}

.search_bar {/*데스크탑 검색바*/
    width: 580px;
    height: 55px;
    border: 1px solid #000;
    border-radius: 60px;
    background: #767676;
    display: flex;
    bottom: 200px;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
}

.trash_scr {/*데스크탑 쓰레기통*/
    width: 700px;
    height: 654px;
    background: rgba(17, 17, 17, 0.81);
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    bottom: 80px;
    right: 264px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}

.topline{/* 데스크탑 상단창*/
    width: 700px;
    height: 50px;
    background: rgba(36, 34, 34, 0.81);
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    bottom: 80px;
    right: 0px;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}